body {
	margin: 0px;
}
#main-body {
	border: 1px solid black;

	border-collapse: collapse;
	width: 100%;
}

#header-table {
	border: 1px solid black;
	border-collapse: collapse;
	width: 100%;
}

#footer-table {
	border: 1px solid black;

	border-collapse: collapse;
	width: 100%;
}

td.header-col {
	width: 33%;
	border: 1px solid #ccbf0d;
}
td.main-col {
	width: 33%;
	border: 1px solid #ccbf0d;
}
td.footer-col {
	width: 33%;
	border: 1px solid #ccbf0d;
}
tr.header {
	height: 40px;
}
tr.main-body {
	height: 280px;
}

tr.footer {
	height: 40px;
}

.head-button {
	width: 100%;
	background-color: white;

	color: rgb(17, 16, 16);

	border: 0px;
	text-align: center;
	font-size: 16px;
	font-family: 'Courier New', Courier, monospace;
	cursor: pointer;

	height: 40px;
	transition-delay: 150ms;
}
.head-button:hover {
	color: rgb(64, 10, 116);
	font-weight: bold;
	font-size: 23px;
}
article {
	font-family: 'Courier New', Courier, monospace;
	text-align: center;
}
/* #main-themes {
	text-align: center;
	size: 50%;
}
a.main-themes {
	border-radius: 3px;
	border-color: black;
	border-width: 2px;
}

.main-button {
	width: 120px;
	background-color: white;
	border: 2px solid black;
	border-radius: 3px;
	color: rgb(17, 16, 16);
	padding: 15px 15px;
	text-align: center;
	font-size: 16px;
	cursor: pointer;

	transition-delay: 150ms;
}

.main-button:hover {
	box-shadow: 5px 5px 5px 1px rgba(100, 100, 165, 0.5);
	font-size: 20px;
	font-weight: bold;
	border-radius: 5px;
}
div.article-text {
	height: 200px;
	width: 700px;
}
article {
	border-color: cornflowerblue;
	text-align: justify;
	margin-left: 25%;
	margin-right: 25%;
	margin-bottom: 5%;
}
#main-body {
	width: 100%;
	border: 3px dashed black;
}
.table-column {
	background-color: rgb(155, 145, 163);
	margin: 300px;
	border: 5px black;
} */
