body {
	margin: 0px;
}
#main-body {
	border: 1px solid black;

	border-collapse: collapse;
	width: 100%;
}

#header-table {
	border: 1px solid black;
	border-collapse: collapse;
	width: 100%;
}

#footer-table {
	border: 1px solid black;

	border-collapse: collapse;
	width: 100%;
}

td.header-col {
	width: 33%;
	border: 1px solid #ccbf0d;
}
td.main-col {
	width: 33%;
	border: 1px solid #ccbf0d;
	text-align: center;
}
td.footer-col {
	width: 33%;
	border: 1px solid #ccbf0d;
}
tr.header {
	height: 40px;
}
tr.main-body {
	height: 280px;
}

tr.footer {
	height: 40px;
}

.head-button {
	width: 100%;
	background-color: white;

	color: rgb(17, 16, 16);

	border: 0px;
	text-align: center;
	font-size: 16px;
	font-family: 'Courier New', Courier, monospace;
	cursor: pointer;

	height: 40px;
	transition-delay: 150ms;
}
.head-button:hover {
	color: rgb(64, 10, 116);
	font-weight: bold;
	font-size: 23px;
}
article.main-text {
	height: 280px;
	border: 0px;
	margin: 0px;
	padding: 0px;
	font-family: 'Courier New', Courier, monospace;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
}
article.main-text:hover {
	font-size: 22px;
}
article.footer-text {
	border: 0px;
	margin: 0px;
	padding: 0px;
	font-family: 'Courier New', Courier, monospace;
	text-align: center;
}
img {
	width: 50%;
}

/* Es masy imy chi */

/* ========================= */
/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
	background-color: transparent;

	height: 40px;
	border: 1px solid white;
	perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 0.8s;
	transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
	transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
	position: absolute;
	width: 100%;
	height: 100%;

	-webkit-backface-visibility: hidden; /* Safari */
	backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
	background-color: rgb(252, 252, 252);
	color: black;
}

/* Style the back side */
.flip-card-back {
	background-color: rgba(184, 160, 28, 0.938);
	color: rgb(3, 63, 98);
	transform: rotateY(180deg);
}
p {
	font-family: 'Courier New', Courier, monospace;
	font-size: 18px;
}
