nav {
	height: 50px;
}

footer {
	position: relative;
	height: 50px;
	clear: both;
}

.head-div,
.foot-div {
	text-align: center;
	font-family: 'Courier New', Courier, monospace;
	border: 1px solid grey;
	border-radius: 5px;
	margin: 2px;

	height: 100%;
	width: 32.8%;
	float: left;
	background-color: rgb(42, 104, 129);
}
.head-div {
	background-color: rgba(110, 75, 133, 0.658);
}
#main-div {
	height: 100%;
	width: 100%;
}
#row-one,
#row-two,
#row-three {
	width: inherit;
	height: 33.33%;
}
.row-one,
.row-two,
.row-three {
	width: 32.8%;
	height: 100%;
	border: 1px solid grey;
	border-radius: 5px;
	float: left;
	text-align: center;
	vertical-align: middle;
	margin: 2px;
}

.empty-row {
	height: 50px;

	width: 99.8%;
	clear: both;
}
img {
	position: relative;
	border-radius: 5px;
	height: 100%;
}
.nested-cell {
	font-family: 'Courier New', Courier, monospace;

	display: none;
}

.row-one:hover .nested-cell {
	display: block;
}
.row-two:hover .nested-cell {
	display: block;
}

.row-three:hover .nested-cell {
	display: block;
}
article {
	margin-top: 150px;
}
