#main-div {
	display: flex;
	flex-direction: row;
	height: 100%;
}
#menu-wrapper {
	display: flex;
	flex-direction: column;
	height: 700px;
	justify-content: space-around;
	margin-right: 30px;
}
#projects {
	display: flex;
	flex-direction: column;
	cursor: pointer;
}
.links-to-projects {
	margin-top: 15px;
	cursor: pointer;
}

iframe {
	width: 1920px;
	height: 1080px;
}
.menu-item {
	background-color: rgba(212, 212, 212, 0.418);
	color: rgb(95, 82, 39);
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
		'Helvetica Neue', sans-serif;
	border-radius: 3px;
}
img {
	margin-top: 75px;
	height: 600px;
}
