#main-div {
	/* display: grid;
	grid-row: 200px;
	flex-direction: row; */
	/* height: 100%; */
}
#menu-wrapper {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(7, 1fr);
	grid-gap: 15px;

	/* flex-direction: column; */
	height: 1000px;
	justify-content: space-around;
}
.menu-item {
	cursor: pointer;

	border: 2px solid grey;
}
/* .links-to-projects,
.about-item {
	margin-top: 15px;
	cursor: pointer;

} */

iframe {
	width: 1400px;
	height: 1050px;
}
.menu-item {
	background-color: rgba(212, 212, 212, 0.418);
	color: rgb(95, 82, 39);
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
		'Helvetica Neue', sans-serif;
	border-radius: 3px;
	text-align: center;
	font-size: 45px;
	color: rgb(243, 242, 242);
	vertical-align: middle;
	line-height: 300px;
}

/* img {
	margin-top: 55px;
	height: 600px;
	border-radius: 7px;
} */
#color-button {
	margin-top: 20px;
	border-radius: 3px;
	background-color: rgb(202, 202, 202);
	cursor: pointer;
	text-align: center;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
		'Helvetica Neue', sans-serif;
	color: rgb(245, 245, 220);
	font-size: 20px;
}
#item-to-fullsize {
	height: 600px;
}
#back-button {
	background-color: rgb(179, 179, 179);
	color: rgb(255, 255, 245);
	width: fit-content;
	padding: 3px;
	cursor: pointer;
}
#image-wrapper {
	grid-column-start: 4;
	grid-column-end: 5;
	grid-row-start: 1;
	grid-row-end: 3;
}
#skills-div {
	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start: 1;
	grid-row-end: 3;
	line-height: 600px;
}
#color-button {
	grid-column-start: 1;
	grid-column-end: 4;
	grid-row-start: 3;
	grid-row-end: 4;
}
img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}
#item-to-fullsize {
	display: grid;

	grid-template-columns: repeat(10, 1fr);
	grid-template-rows: repeat(15, 1fr);

	border: 2px solid grey;
}
#back-button {
	grid-column-start: 11;
	grid-column-end: 12;
	grid-row-start: 1;
	grid-row-end: 2;
}
